{% comment %} Full screen (800x480 / 1040x780). {% endcomment %}
{% if has_data %}
{% assign sym = currency | append: ' ' %}
{% if currency == 'USD' %}{% assign sym = '$' %}{% endif %}
{% if currency == 'EUR' %}{% assign sym = '&euro;' %}{% endif %}
{% if currency == 'GBP' %}{% assign sym = '&pound;' %}{% endif %}
<div class="layout layout--col gap--medium lg:gap--large portrait:gap--large">
  <div class="flex flex--row" style="align-items: center; gap: 20px; width: 100%; justify-content: flex-start;">
    {% if app_icon != blank %}<img class="image image-dither rounded" src="{{ app_icon }}" width="120" height="120" />{% endif %}
    <div class="flex flex--col">
      <span class="title title--xlarge lg:title--xxlarge">{{ app_name }}</span>
      {% if app_ratings_count > 0 %}<span class="label">&#9733; {{ app_rating }} &middot; {{ app_ratings_count }} ratings</span>{% endif %}
    </div>
  </div>
  <div class="divider"></div>
  <div class="grid grid--cols-3 portrait:grid--cols-1">
    <div class="item"><div class="content">
      <span class="value value--large lg:value--xlarge">{{ downloads_day }}</span>
      <span class="label">Downloads today</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--large lg:value--xlarge">{{ downloads_7d }}</span>
      <span class="label">Last 7 days</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--large lg:value--xlarge">{{ downloads_30d }}</span>
      <span class="label">Last 30 days</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--small lg:value">{{ sym }}{{ revenue_day }}</span>
      <span class="label">Proceeds today</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--small lg:value">{{ sym }}{{ revenue_7d }}</span>
      <span class="label">Last 7 days</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--small lg:value">{{ sym }}{{ revenue_30d }}</span>
      <span class="label">Last 30 days</span>
    </div></div>
  </div>
  {% if apps and apps.size > 1 %}
  <div class="divider"></div>
  <div class="flex flex--col gap--small">
    {% for app in apps %}
    <div class="flex flex--row" style="align-items: center; gap: 12px;">
      {% if app.icon != blank %}<img class="image image-dither rounded" src="{{ app.icon }}" width="36" height="36" />{% endif %}
      <div class="flex flex--col">
        <span class="title title--small">{{ app.name }}</span>
        <span class="description">{{ app.downloads_30d }} dl &middot; 30d&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ sym }}{{ app.revenue_30d }}{% if app.ratings_count > 0 %}&nbsp;&nbsp;&middot;&nbsp;&nbsp;&#9733; {{ app.rating }}{% endif %}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% else %}
<div class="layout layout--col layout--center">
  <span class="value value--large">Applytics</span>
  <span class="label">Waiting for your first App Store data&hellip;</span>
  <span class="label label--small">Updates daily</span>
</div>
{% endif %}

<div class="title_bar">
  <span class="title">Applytics</span>
  <span class="instance">{{ updated_at }}</span>
</div>
