{% comment %} Half vertical (400x480 / 520x780). {% endcomment %}
{% if has_data %}
{% assign sym = currency | append: ' ' %}
{% if currency == 'USD' %}{% assign sym = '$' %}{% endif %}
{% if currency == 'EUR' %}{% assign sym = '&euro;' %}{% endif %}
{% if currency == 'GBP' %}{% assign sym = '&pound;' %}{% endif %}
<div class="layout layout--col gap--medium lg:gap--large portrait:gap--large">
  <div class="flex flex--row" style="align-items: center; gap: 16px; width: 100%; justify-content: flex-start;">
    {% if app_icon != blank %}<img class="image image-dither rounded" src="{{ app_icon }}" width="76" height="76" />{% endif %}
    <span class="title title--large lg:title--xlarge">{{ app_name }}</span>
  </div>
  <div class="divider"></div>
  <div class="grid grid--cols-2 portrait:grid--cols-1">
    <div class="item"><div class="content">
      <span class="value value--xlarge lg:value--mega">{{ downloads_day }}</span>
      <span class="label">Downloads today</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--large lg:value--xlarge">{{ downloads_7d }}</span>
      <span class="label">Last 7 days</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--large lg:value--xlarge">{{ downloads_30d }}</span>
      <span class="label">Last 30 days</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--small lg:value">{{ sym }}{{ revenue_30d }}</span>
      <span class="label">Proceeds &middot; 30d</span>
    </div></div>
  </div>
</div>
{% else %}
<div class="layout layout--col layout--center">
  <span class="value value--large">Applytics</span>
  <span class="label">Waiting for data&hellip;</span>
</div>
{% endif %}

<div class="title_bar">
  <span class="title">Applytics</span>
  <span class="instance">{{ updated_at }}</span>
</div>
