{% comment %} Half horizontal (800x240 / 1040x390). {% endcomment %}
{% if has_data %}
<div class="layout layout--col gap--small">
  <div class="flex flex--row" style="align-items: center; gap: 14px; width: 100%; justify-content: flex-start;">
    {% if app_icon != blank %}<img class="image image-dither rounded" src="{{ app_icon }}" width="52" height="52" />{% endif %}
    <span class="title title--large lg:title--xlarge">{{ app_name }}</span>
  </div>
  <div class="divider"></div>
  <div class="grid grid--cols-3 portrait:grid--cols-1">
    <div class="item"><div class="content">
      <span class="value value--large lg:value--xlarge">{{ downloads_day }}</span>
      <span class="label">Today</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--large lg:value--xlarge">{{ downloads_7d }}</span>
      <span class="label">7 days</span>
    </div></div>
    <div class="item"><div class="content">
      <span class="value value--large lg:value--xlarge">{{ downloads_30d }}</span>
      <span class="label">30 days</span>
    </div></div>
  </div>
</div>
{% else %}
<div class="layout layout--col layout--center">
  <span class="value value--large">Applytics</span>
  <span class="label">Waiting for your first App Store data&hellip;</span>
</div>
{% endif %}

<div class="title_bar">
  <span class="title">Applytics</span>
  <span class="instance">{{ updated_at }}</span>
</div>
