{% comment %} Half horizontal (800x240 / 1040x390). {% endcomment %}
{% if has_data %}
<div class="layout layout--col">
  <div class="columns">
    <div class="column"><div class="item"><div class="content">
      <span class="value value--xlarge">{{ downloads_day }}</span>
      <span class="label">Downloads &middot; {{ updated_at }}</span>
    </div></div></div>
    <div class="column"><div class="item"><div class="content">
      <span class="value value--large">{{ downloads_7d }}</span>
      <span class="label">7 days</span>
    </div></div></div>
    <div class="column"><div class="item"><div class="content">
      <span class="value value--large">{{ downloads_30d }}</span>
      <span class="label">30 days</span>
    </div></div></div>
  </div>
</div>
{% else %}
<div class="layout layout--col layout--center">
  <span class="value value--large">Applytics</span>
  <span class="label">Waiting for your first App Store data&hellip;</span>
</div>
{% endif %}

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg" />
  <span class="title">Applytics</span>
  <span class="instance">{{ updated_at }}</span>
</div>
